.footer-root {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #212A2F;
    color: #FFF;
    padding-top: 72px;
    padding-bottom: 72px;
}

.footer-connect {
    /* background-color: #212A2F; */
    color: #FFF;
    display: flex;
    justify-content: center;
}

.connect-content {
    padding: 10px 15px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    width: 55%;
    /* justify-content: space-around; */
    justify-content: flex-start;
    margin-top: 20px;
    border-radius: 2px;
}

.connect-content h3 {
    color: #212A2F;
    font-weight: 600;
    font-size: 22px;
}

.connect-content div {
    width: 20vw;
    display: flex;
    justify-content: center;
    margin-left: 12vw;
}

.connect-content img {
    background-color: #FFF;
    width: 25px;
    height: 25px;
    margin-right: 3vw;
}

.connect-content img:hover {
    cursor: pointer;
}

.footer-shop {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFF;
}

.footer-shop p {
    font-weight: 600;
    font-size: 22px;
    color: inherit;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-shop a {
    color: inherit;
    margin-bottom: 12px;
}

.footer-shop a:hover {
    cursor: pointer;
}

.accredidations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFF;
}

.accredidation p {
    font-weight: 600;
    font-size: 22px;
    color: #FFF;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.accredidation div, .accredidation a {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}