.shoe-show-main {
    display: flex;
    justify-content: center;
}

.shoe-grid {
    width: 42.5vw;
}
.shoe-grid ul {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-flow: row wrap;
}
.shoe-grid p {
    /* width: 40%; */
    width: 20vw;
    margin: 5px;
}

.shoe-grid img {
    width: 100%;
}

.product-desc {
width: 30vw;
padding-left: 36px;
}