.plp-page-root {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 60px;
    padding-left: 24px;
    width: 100%;
}

.plp-menu {
    padding: 12px 48px 24px 0px;
    width: 25%;
}

.plp-product-root {
    /* padding: 0px 24px 0px 0px; */
    
    width: 75%;
}

.plp-element-root {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.plp-details-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 24px;
}

.plp-details-box a {
    text-decoration: none;
}

.plp-details-box img {
    width: 100%;
}

.plp-hero-img {
    width: 50%;
}

.plp-hero-img img {
    width: 100%;
}
