.root {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1380px;
	margin:0 auto;
}

.pathway {
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 9px;
}

.pathway a, .pathway p{
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.pathway a:hover {
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
}

.shoe-show-main {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.shoe-grid {
    width: 100%;
    height: auto;
}
.shoe-grid ul {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    align-content: center;
    flex-flow: row wrap;
}
.shoe-grid p {
    width: 48%;
    /* width: 35%; */
    margin: 1%;
}

.shoe-grid img {
    width: 100%;
}

.product-desc {
    position: relative;
    width: 40%;
    margin-left: 36px;
}

.product-desc h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
    margin-bottom: 8px;
}

.price {
    font-size: 16px;
    line-height: 1.31;
    margin-bottom: 12px;
}

.colorway {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.31;
    padding-bottom: 12px;
}

.colorway-name {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.31;
    padding-bottom: 12px;
    margin-right: 5px;
    text-transform: uppercase;
}

.colorway-value {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.31;
    padding-bottom: 12px;
}

.prod-review-stars-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.prod-review-stars-container p {
    text-decoration: underline;
}

.prod-review-stars {
    height: 20px;
    width: 100px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.star-img, .star-img img {
    height: 13px;
    width: 13px;
    background-color: #fff;
    vertical-align: center;
    margin-right: 4px;
}

.star-img-blk {
    /* fill: #000; */
    background-color: #000;
    height: 13px;
    width: 13px;
    margin-right: 4px;
}

.prod-review-stars .star-img img {
    width: 100%;
    height: 100%;
}

.shoe-colors {
    padding-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.color-tile {
    height: 42px;
    width: 42px;
    margin-right: 15px;
}

.color-tile a {
    padding-top: 3px;
    width: 100%;
    height: 100%;
}

.color-tile img:hover {
    padding: 2px;
    border: 1px solid rgb(211, 212, 213); 
}

.color-tile img {
    transition: .15s ease;
    width: 100%;
    border: 1px solid rgb(211, 212, 213);
    border-radius: 50%;
    z-index: -1;
}

.size-chart {
    margin-bottom: 18px;
}



.size-chart p {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.31;
    padding-bottom: 12px;
    margin-right: 5px;
    text-transform: uppercase;
}

.size-chart ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 39px;

}

.size-chart li {
    height: 100%;
    width: 39px;
    align-self: center;
    vertical-align: center;
    align-content: center;
    margin-right: 3px;
    border: 1px solid rgb(33, 42, 47);
    border-radius: 2px;
}

.size-chart button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.size-chart button:hover {
    background-color: rgba(0,0,0,.2);
}

.size-chart .selected {
    background-color: #000;
    color: #fff;
}

.sizing-detail {
    font-size: 12px;
    margin-bottom: 18px;
} 

.cart-button {
    align-self: center;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #000;
    padding: 13px 18px;
    border-radius: 2px;
    color: #fff;
    border: 2px solid transparent;
    transition: .01s ease-in-out;
}

.cart-button:hover {
    background-color: rgba(0,0,0, .0);
    color: #000;
    border: 2px solid #000;
}

.guarantee-detail {
    display: flex;
    justify-content: center;
    font-size: 12px;
    padding-top: 12px;
    align-self: center;
}

.review-content-header {
    background-color: #F5F5F5;
    padding: 84px 0px 60px 0px;
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    /* justify-content: center; */
}

.review-content-header h4 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 18px;
    text-align: center;
}

.review-stars-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    height: 50px;
    /* font-size: 48px; */
    vertical-align: center;
    margin-bottom: 6px;
}

.review-stars-container .review-rating-avg {
    font-size: 42px;
    vertical-align: center;
    text-align: center;
    
}

.review-stars-container .star-img {
    margin-left: 12px;
    vertical-align: center;
    height: 22px;
    width: 22px;
    margin-right: 0px;
}

.review-stars-container .star-img img {
    vertical-align: center;
    height: 22px;
    width: 22px;
    background-color: #F5F5F5;
    margin-right: 0px;
}

.review-content-header p {
    text-align: center;
    font-size: 14px;
}

.review-form-root {
    margin: 0 auto;
    padding-top: 24px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 100px;
}

.review-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.stars-dropdown {
    display: flex;
    flex-direction: row;
    margin-bottom: 19px;
}

.stars-dropdown {
    padding-right: 6px;
}

.stars-dropdown select {
    border: 2px solid #000;
    border-radius: 2px;
    background: transparent;
    font-family: inherit;
}

.stars-dropdown option {
    width: 100%;
}

.review-form input, .review-form textarea {
    width: 90%;
    border: 1px solid rgba(0,0,0,.1);
    font-family: inherit;
    border-radius: 2px;
    padding: 19px 20px;
    /* margin: 19px 20px; */
    margin-bottom: 19px;
    margin-top: 8px;
    font-size: 1em;
    font-weight: 400;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 48px;
    padding-left: 72px;
    padding-right: 72px;
}

.review-element {
    border-top: 1px solid rgb(211, 212, 213);
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-content {
    display: flex;
    flex-direction: column;
    /* align-content: flex-start; */
}

.stars-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-self: flex-end; */
    background-color: #f5f5f5;
    width: 25%;
}

.user-detail .user-firstname {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    /* margin: 0px 15px; */
    /* padding: 0px 5px; */
    border-bottom: 1px solid rgb(211, 212, 213);
}

.user-detail p:nth-child(1) {
    font-size: 16px;

    /* margin-bottom: 12px; */
    margin: 5px 15px;
}

.user-detail p:nth-child(2) {
    font-size: 12px;
    font-style: italic;
    /* margin-bottom: 12px; */
}

.review-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.user-stars {  
    margin-bottom: 15px;
    font-size: 22px;   
}

.review-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 22px;   
}

.review-body {
    font-size: 16px;
    margin-bottom: 24px;
}

.review-date {

    font-size: 14px;
}

.review-login {
    border-top: 1px solid rgb(211, 212, 213);
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-self: center;
    width: 40%;
}

.review-login p {
    padding-top: 16px;
    font-size: 22px;
    text-align: center;
    padding-bottom: 16px;
}   

.review-login a {
    text-decoration: none;
    text-transform: none;
    color: #fff;
    width: 75%;
    text-align: center;
    font-family: inherit;
    align-self: center;
}

.review-login a:hover {
    text-decoration: none;
    text-transform: none;
    color: #000;
}



.errors-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    padding-bottom: 18px;
    text-transform: uppercase;
}

.errors {
    font-size: 16px;
    height: 20px;
    padding-bottom: 6px;
}